{% for label ,messages in app.flashes(['succes','warning','info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}